.status {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.isOffline {
  composes: status;
  background-color: rgb(252, 0, 0);
}

.isOnline {
  composes: status;
  background-color: rgb(102, 182, 21);
}

.avatar {
  border-radius: 4px;
  background-color: gold;
  margin-right: 10px;
}
